._scrolledTo_3l4zw_23 ._part_3l4zw_12 {
  padding: 2px; /* Adds subtle padding around text */
  background: #d4f9e2 !important;
  /* border-left: 4px solid #36cfc9;
  border-right: 4px solid #36cfc9; */

  border-radius: 2px; /* Slightly rounded corners */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

._part_3l4zw_12 {
  cursor: pointer;
  position: absolute;
  background: transparent !important;
}

.Highlight__popup {
  background-color: white !important;
  border: 2px solid #3c7167 !important;
  color: #212529 !important;
  border-radius: 5px !important;
  overflow-y: hidden !important;
  padding: 10px !important; /* Maintain the library's padding */
}
